
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">
        <h2 style="color: black;"><img src="../../assets/img/phoenix.png" style="max-height: 50px; margin-right: 25px;">Phoenixmas</h2>

        <nav id="navmenu" class="navmenu" style="color: black;">
          <ul>
            <li><a href="/PhoenixM&Ahome#home">Home</a></li>
            <li><a href="/PhoenixM&Ahome#about">About</a></li>
            <li><a href="/PhoenixM&Ahome#services">Services</a></li>
            <li><a href="/PhoenixM&Ahome#portfolio">Get To Know Us</a></li>
            <li><a href="/PhoenixM&Ahome#team">Team</a></li>
            <li><a href="/PhoenixM&Ahome#news" style="color: #FFA500;">News & Insights</a></li>
            <li><a href="/PhoenixM&Ahome#contact">Contact</a></li>
          </ul>
  

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->


    </div>
  </header>

  <div class="page-title" style="margin-top: 15px;">
    <div class="heading">
      <div class="container">
        <div class="row d-flex justify-content-center text-center">
          <div class="col-lg-8">
            <h1>News & Insights</h1>
            <p class="mb-0">Explore the latest trends and industry updates in our News & Insights section.</p>
          </div>
        </div>
      </div>
    </div>
    <nav class="breadcrumbs">
      <div class="container">
        <ol>
          <li><a>Home</a></li>
          <li class="current">News & Insights</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Page Title -->

  <!-- Blog Section - Blog Page -->
  <section id="blog" class="blog">

    <div class="container">

      <div class="row gy-4 posts-list">
        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/casino/casino11.jpeg" alt="" class="img-fluid">
            </div>


            <h2 class="title" style="cursor: pointer;">
              <a (click)="navigateToNewsdetails(casino)">Casino Night Phoenix</a>
            </h2>


          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/gift.png" alt="" class="img-fluid">
            </div>


            <h2 class="title" style="cursor: pointer;">
              <a (click)="navigateToNewsdetails(gift)">Phoenix's Festive Gift</a>
            </h2>


          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/season.png" alt="" class="img-fluid">
            </div>


            <h2 class="title" style="cursor: pointer;">
              <a (click)="navigateToNewsdetails(awards)">Awards Night Phoenix</a>
            </h2>

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/fire.jpg" alt="" class="img-fluid">
            </div>


            <h2 class="title" style="cursor: pointer;">
              <a (click)="navigateToNewsdetails(fire)">Fire and success light up Nantucket</a>
            </h2>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/spreading.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="cursor: pointer;">
              <a a (click)="navigateToNewsdetails(dreams)">Spreading joy and supporting dreams</a>
            </h2>
          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/bobbyfam/bobby0.jpeg" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="cursor: pointer;">
              <a a (click)="navigateToNewsdetails(bobbyfam)">Unveiling the Heartbeat of Phoenix: A Special Day with Bobby's Family</a>
            </h2>
          </article>
        </div><!-- End post list item -->
        <div class="col-xl-4 col-lg-6">
          <article>

            <div class="post-img">
              <img src="../../assets/img/summit/sum0.jpeg" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="cursor: pointer;">
              <a a (click)="navigateToNewsdetails(summit)">Synergy in Action: An Inspiring Leadership Summit</a>
            </h2>
          </article>
        </div><!-- End post list item -->

      </div><!-- End blog posts list -->
    </div>

  </section><!-- End Blog Section -->