<app-base></app-base>
<div class="listeequipes-container"> 
    <div class="equipe-container">
        <div class="listetalents-containershown">
            <div class="col-12">
             <div class="card mb-4 ">
                     <div class="card-header pb-0" >
                       <h6 class="text-center">Stock Archived List</h6>
                     </div>
                     <div class="card-body px-0 pt-0 pb-2">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Reference</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Types</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">campaign</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Supplier</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock shipping Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Received Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Due Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Value</th>
                       </tr>
                     </thead>
        
                     <tbody>
                      <ng-container  *ngIf="loading;">
                        <tr>
                          <td colspan="11" style="text-align: center;">
                            <div class="loading-container">
                              <div class="loading-spinner"></div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!loading && emptyStock;">
                        <tr>
                          <td colspan="11" style="text-align: center;">
                            <p>No stocks found. Please check back later.</p>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!loading && !emptyStock; ">
                      <tr *ngFor="let stock of archivedStock">
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;" *ngIf="stock.stockReference">
                          <a (click)="navigateToArchiverProducts(stock.stockReference)" >
                            <span> {{stock.stockReference}} </span>
                        </a></td>
                          <td style="word-wrap: break-word; white-space: normal;">
                            <span style="font-size: 20px;" [style.color]="stock.checked ? 'green' : 'red'">
                              {{stock.checked ? '&#10003;' : '&#10008;'}}
                            </span>
                          </td>
                        <td style="word-wrap: break-word; white-space: normal;">
                          <div style="max-height: 70px; overflow-y: auto;">
                            <ul *ngFor="let product of stock.campaigndto?.products">
                              <li>{{product}}</li>
                            </ul>
                          </div>
                        </td>                      
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="stock.campaigndto && stock.campaigndto.campaignName">
                          <span>{{stock.campaigndto.campaignName}} </span>
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="!stock.campaigndto || !stock.campaigndto.campaignName">
                        </td>

                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="stock.campaigndto && stock.campaigndto.client && stock.campaigndto.client.companyName">
                          <span> {{stock.campaigndto.client.companyName }} </span>
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="!stock.campaigndto || !stock.campaigndto.client || !stock.campaigndto.client.companyName">
                        </td>

                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="stock.shippingDate">
                          <span>{{stock.shippingDate}}</span></td>
                          <td style="word-wrap: break-word; white-space: normal;" *ngIf="!stock.shippingDate">
                          </td>
  
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="stock.receivedDate">
                          <span>{{stock.receivedDate}}</span></td>
                          <td style="word-wrap: break-word; white-space: normal;" *ngIf="!stock.receivedDate">
                           </td>  
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="stock.dueDate">
                          <span>{{stock.dueDate}}</span></td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="!stock.dueDate">
                        </td>
  
                        <td style="word-wrap: break-word; white-space: normal;"> {{ stock.stockValue ?? 0 }}  $</td>
                      </tr>
                      <tr>
                     
                      </tr>
                      </ng-container>
                     </tbody>
                    

                   </table>
                 </div>
                </div>     
             </div>
            </div>
           </div>
    </div>
    
</div>
