<app-base></app-base>
<div class="dashboard-container"> 
    
  <div class="container-fluid py-4">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card h-100" >
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Nombre des Applications</p>
                    <h5 class="font-weight-bolder">
                      35                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+82%</span>
                      depuis l'année dernière
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card h-100">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Nombre Des Talents</p>
                    <h5 class="font-weight-bolder">
                      355 
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+5%</span>
                      depuis l'année dernière
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card h-100">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Compétence</p>
                    <h5 class="font-weight-bolder">
                      +38
                    </h5>
                    <p class="mb-0">
                      <span class="text-success text-sm font-weight-bolder">+20%</span>
                      depuis l'année dernière
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card h-100">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Maîtrise global des application</p>
                    <h5 class="font-weight-bolder">77%</h5>
                   <div class="col-md-6" style="width: 100%;">
                     <div class="form-group">
                       <select class="form-control mt-2" id="niveaudemaitrise">
                         <option>maitrise</option>
                         <option>non maitrise</option>

                        </select>
                     </div>
                   </div>
                                            

                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Taux d'absentéisme imprévu</h6>
              <p class="text-sm mb-0">
                
                <span class="font-weight-bold"> 30%</span>&nbsp;plus que le mois précédent
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-lg-5">
        <div class="card card-carousel overflow-hidden h-100 p-0">
          <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
            <div class="carousel-inner border-radius-lg h-100">
              <div class="carousel-item h-100 active" style="background-image: url('./assets/img/sofback.jpg');
    background-size: cover;">
              <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);">

                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                  
                  <h5 class="text-white mb-1">Commencez avec SOF' Managers</h5>
                  <p>La plateforme performante pour un management efficace et stratégique.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item h-100" style="background-image: url('./assets/img/sofback2.jpg');
    background-size: cover;">
                <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);">

                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                  
                  <h5 class="text-white mb-1">Une façon plus rapide de gérer les Talents</h5>
                  <p>Simplifiez la gestion des compétences et des collaborateurs avec SOF'Managers.</p>
                </div>
                </div>
              </div>
              <div class="carousel-item h-100" style="background-image: url('./assets/img/sofback3.png');
    background-size: cover;">
              <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);">

                <div class="carousel-caption d-none d-md-block bottom-0 text-start start-0 ms-5">
                  
                  <h5 class="text-white mb-1">Gestion complète de l'inventaire de nos Applications</h5>
                  <p>Gardez une vision claire et à jour de l'inventaire de vos applications grâce à SOF'Managers.</p>
                </div>
              </div>
              </div>
            </div>
            <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">Applications nécessitant un suivi attentif</h6>
              </div>
            </div>
            

            <div class="table-responsive">
              <table class="table align-items-center ">
                <tbody>
                  <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0">Application :</p>
                          <h6 class="text-sm mb-0">LTP</h6>
                        </div>
                      </div>
                    </td>
                    
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Etat :</p>
                        <h6 class="text-sm mb-0">critique</h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Date debut Etat :</p>
                        <h6 class="text-sm mb-0">12/03/2023<br>21:09
                        </h6>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">ETP :</p>
                        <h6 class="text-sm mb-0">3</h6>
                      </div>
                    </td>
                  </tr>
               
                </tbody>
              </table>
            </div>
          
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Dernier(s) One To One(s) :</h6>
            </div>
        
            <div class="table-responsive p-0" style="width: 100%;">
              <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                <thead>
                  <tr style="width: 100%;">
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" >Talent</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" >Manager</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" >Jour</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" >Durée</th>
      
        
                  </tr>
                </thead>
                <tbody>
                 <tr>
                  <td>Khaled</td>
                  <td>Mehdi</td>
                  <td>12/07/2023</td>
                  <td> 7 ans</td>
                  </tr>
                </tbody>
              </table>
            </div>
          

          </div>
        </div>

        
      </div>
      
</div>



 