ion-icon {
  color: white;
}

ion-content, ion-body {
  height: 100vh;
  --background: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.scan-text {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

img {
  max-width: 75%;
}

