   <!-- Testimonials Section - Home Page -->
   <section id="testimonials" class="testimonials">

    <div class="container">

      <div class="row align-items-center">

        <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
          <h3>Testimonials</h3>
          <p>
            Dive into our Testimonials to hear the direct experiences of our satisfied clients. Discover the impact we've had on their success and why they choose us. Real stories, real results – see what others are saying about our services.
          </p>
        </div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

          <div class="swiper">
          
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="d-flex">
                    <img src="../../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Worcester schools</h3>
                      <h4>Worcester Public Schools</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    <span>Thanks to a generous donation from Phoenix Marketing and Advertising of Worcester, every single student at Columbus Park Preparatory Academy received a holiday gift!❄️                   </span>
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- End Testimonials Section -->