  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Business</h1>
          <h2>"We're a skilled team of marketers crafting impactful campaigns to elevate and grow your business."</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200" style="opacity: 1;">
          <img src="../../assets/img/logoW.png" style="max-width: 480px;">
        </div>
      </div>
    </div>
  
  </section><!-- End Hero -->