<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container-fluid d-flex align-items-center justify-content-between">
      <h2 style="color: black;"><img src="../../assets/img/phoenix.png" style="max-height: 50px; margin-right: 25px;">Phoenixmas</h2>

      <nav id="navmenu" class="navmenu" style="color: black;">
        <ul>
          <li><a href="/PhoenixM&Ahome#home">Home</a></li>
          <li><a href="/PhoenixM&Ahome#about">About</a></li>
          <li><a href="/PhoenixM&Ahome#services">Services</a></li>
          <li><a href="/PhoenixM&Ahome#portfolio">Get To Know Us</a></li>
          <li><a href="/PhoenixM&Ahome#team">Team</a></li>
          <li><a href="/PhoenixM&Ahome#news" style="color: #FFA500;">News & Insights</a></li>
          <li><a href="/PhoenixM&Ahome#contact">Contact</a></li>
        </ul>


      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav><!-- End Nav Menu -->


  </div>
</header>


<div class="page-title" style="margin-top: 15px;">
  <div class="heading">
    <div class="container">
      <div class="row d-flex justify-content-center text-center">
        <div class="col-lg-8">
          <h1>News & Insights Details</h1>
          <p class="mb-0">Explore the latest trends and industry updates in our News & Insights section.</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li style="cursor: pointer;"><a routerLink="/Phoenixmashome">Home</a></li>
        <li class="current">News & Insights</li>
      </ol>
    </div>
  </nav>
</div>

<section id="blog-details" class="blog-details">
  <div class="container" style="margin-left: 25%;">
    <div class="row g-5">
      <div class="col-lg-8">
        <article class="article">
          <div class="post-img d-flex justify-content-center align-items-center">
            <img class="img-fluid" [src]="getCurrentImage()" style="height: 500px; width: 100%;">
            
            <div *ngIf="images.length > 1" class="carousel-arrows">
              <div class="arrow left-arrow" (click)="prevSlide()" title="Previous">
                <span class="arrow-icon">❮</span>
              </div>
            
              <div class="arrow right-arrow" (click)="nextSlide()" title="Next">
                <span class="arrow-icon">❯</span>
              </div>
            </div>
            

          </div>
          <h2 class="title">{{ title }}</h2>
          <div class="content">
            <p> {{ body }}  </p>
          </div>
        </article>
        
      </div>
    </div>
  </div>
</section>
