<app-header></app-header>

<ion-content style="--background: #ffffff;">
<div class="container">

  <ion-card style="--background: #ffffff;">
    <ion-card-header (click) ="showsells()" class="card-header">
      <ion-card-title>
        <div class="title-container">
          <div class="left-content">
            <ion-icon name="cart-outline" class="icon-sold"></ion-icon>
            <p class="title-text">Last sells</p>
          </div>
          <ng-container *ngIf="showsell">
            <ion-icon name="chevron-down-outline" class="icon-arrow"></ion-icon>
          </ng-container>
          <ng-container *ngIf="!showsell">
            <ion-icon name="chevron-up-outline" class="icon-arrow"></ion-icon>
          </ng-container>
        </div>
      </ion-card-title>
          </ion-card-header>
    <ng-container *ngIf="showsell">
    <ng-container *ngIf="!emptylastsells">
    <ion-card-content class="card-content">
      <ion-grid class="grid">
        <ng-container *ngFor="let soldProd of lastsoldProds">
        <ion-row class="row">
          <ion-col size="6" class="col">
            <ion-label class="label">Product:</ion-label>
          </ion-col>
          <ion-col size="6" class="col">
            <ion-label> {{soldProd.serialNumber }}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col size="6" class="col">
            <ion-label class="label">Check Out:</ion-label>
          </ion-col>
          <ion-col size="6" class="col">
            <ion-label>{{soldProd.soldDate | date: 'medium' | slice: 0:12}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row class="row">
          <ion-col size="6" class="col">
            <ion-label class="label">Agent:</ion-label>
          </ion-col>
          <ion-col size="6" class="col">
            <ion-label>{{soldProd.agentWhoSold?.firstname?.toUpperCase() }} {{soldProd.agentWhoSold?.lastname?.toUpperCase() }}</ion-label>
          </ion-col>
        </ion-row> 
        <hr class="divider">  
      </ng-container>     
        </ion-grid>
     </ion-card-content>
  </ng-container>
  <ng-container *ngIf="emptylastsells">
    <ion-card-content>
      No Last sold Products found. Please check back later.
     </ion-card-content>
  </ng-container>
</ng-container>
  </ion-card>
  <ion-card style="margin-top: 40px; --background: #ffffff;">
      <ion-card-header (click) ="showreturns()">
        <ion-card-title>
          <div class="title-container">
            <div class="left-content">
              <ion-icon name="return-down-back-outline" class="icon-returned"></ion-icon>
              <p class="title-text">Last Returns</p>
            </div>
            <ng-container *ngIf="showreturn">
              <ion-icon name="chevron-down-outline" class="icon-arrowr"></ion-icon>
            </ng-container>
            <ng-container *ngIf="!showreturn">
              <ion-icon name="chevron-up-outline" class="icon-arrowr"></ion-icon>
            </ng-container>
          </div>
        </ion-card-title>        
      </ion-card-header>
      <ng-container *ngIf="showreturn">
      <ng-container *ngIf="emptylastReturnss">
      <ion-card-content>
        No Returned Products found. Please check back later.
      </ion-card-content>
      </ng-container>
      <ng-container *ngIf="!emptylastReturnss">
        <ion-card-content>
          <ion-card-content class="card-content">
            <ion-grid class="grid">
              <ng-container *ngFor="let returnedProd of lastreturnedProds">
              <ion-row class="row">
                <ion-col size="6" class="col">
                  <ion-label class="label">Product:</ion-label>
                </ion-col>
                <ion-col size="6" class="col">
                  <ion-label>{{returnedProd.serialNumber }}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="row">
                <ion-col size="6" class="col">
                  <ion-label class="label">CheckIn :</ion-label>
                </ion-col>
                <ion-col size="6" class="col">
                  <ion-label>{{returnedProd.checkin | date: 'medium' | slice: 0:12}}</ion-label>
                </ion-col>
              </ion-row>
              <ion-row class="row">
                <ion-col size="6" class="col">
                  <ion-label class="label">Agent:</ion-label>
                </ion-col>
                <ion-col size="6" class="col">
                  <ion-label>{{returnedProd.agentReturnedProd?.firstname?.toUpperCase() }} {{returnedProd.agentReturnedProd?.lastname?.toUpperCase() }}</ion-label>
                </ion-col>
              </ion-row> 
              <hr class="divider"> 
            </ng-container>
              </ion-grid>
           </ion-card-content>
              </ion-card-content>
        </ng-container>
  </ng-container>
  </ion-card>

</div>

</ion-content>

<ion-footer>
  <app-footer [isSelectedHistory]="true"></app-footer>
</ion-footer>
