 <!-- Contact Section - Home Page -->
 <section id="contact" class="contact">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact</h2>
      <p>Connect with us through our Contact Us section - your direct line to prompt assistance and collaborative solutions.
      </p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-6">

          <div class="row gy-4">
            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="200">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>64 Dewey St, Worcester, MA</p>
                <p>United States, Massachusetts</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="300">
                <i class="bi bi-telephone"></i>
                <h3>Call Us</h3>
                <p>(508) 755 – 6713</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="400">
                <i class="bi bi-envelope"></i>
                <h3>Email Us</h3>
                <p>Robertr@phoenixmas.com</p>
              </div>
            </div><!-- End Info Item -->

            <div class="col-md-6">
              <div class="info-item" data-aos="fade" data-aos-delay="500">
                <i class="bi bi-clock"></i>
                <h3>Open Hours</h3>
                <p>Monday - Friday</p>
                <p>9:00AM - 05:00PM</p>
              </div>
            </div><!-- End Info Item -->

          </div>

        </div>

        <div class="col-lg-6">
            <form (ngSubmit)="onSubmit()" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required [(ngModel)]="formData.name">
                  </div>
                  <div class="col-md-6">
                    <input type="email" class="form-control" name="email" placeholder="Your Email" required [(ngModel)]="formData.email">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" name="subject" placeholder="Subject" required [(ngModel)]="formData.subject">
                  </div>
                  <div class="col-md-12">
                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required [(ngModel)]="formData.message"></textarea>
                  </div>
                  <div class="col-md-12 text-center">
                    <button type="submit" [disabled]="loading">Send Message</button>
                    <br>
                    <div *ngIf="loading" class="loading-message">
                      <div class="loading-spinner"></div>
                      Sending your message...
                    </div>
                    <ng-container *ngIf="successMessage" >
                    <div style="color: #28a745; background-color: #d4edda; border: 1px solid #c3e6cb; padding: 15px; margin-top: 10px;">
                      {{successMessage}}
                    </div>
                  </ng-container>
                  <ng-container *ngIf="errorMessage">
                    <div style="color: #dc3545; background-color: #f8d7da; border: 1px solid #f5c6cb; padding: 15px; margin-top: 10px;">
                      {{errorMessage}}
                    </div>
                  </ng-container>
                  
                </div>
                </div>
              </form>
              
        </div><!-- End Contact Form -->

      </div>

    </div>

  </section><!-- End Contact Section -->