<app-base></app-base>
<div class="listeequipes-container"> 
    <a  class="btn-primary btn" (click)="navigateToAddProduct(stockreference)" style="color: white;" >
        <span class="">&nbsp; Add Product</span>
    </a> &nbsp;
    
    
    <div class="equipe-container">
        <div class="listetalents-containershown">
            <div class="col-12">
             <div class="card mb-4 ">
                     <div class="card-header pb-0" >
                       <h6 class="text-center">{{ stockdto.campaigndto?.campaignName?.toUpperCase() }} Stock Products</h6>
                     </div>
                     <div class="card-body px-0 pt-0 pb-2">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Type</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Name</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product State</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sold Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" colspan="2" style="text-align: center;">Actions</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let prod of productsDto">
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.serialNumber}}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.productType}}</td>                        
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.prodName}}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.price}}$</td>
                        <td style="word-wrap: break-word; white-space: normal;">
                          {{ getStateText(prod.state) }}
                        </td>
                        

                        <td style="word-wrap: break-word; white-space: normal;">{{ prod.soldDate| date: 'medium' | slice: 0:12 }}</td>
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer; text-align: right;"><a>update</a></td>
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer; text-align: right;"><a>Assign to Seller</a></td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                </div>     
             </div>
            </div>
           </div>
    </div>
    
</div>
