<app-base></app-base>
<div class="listeequipes-container"> 
    <a  class="btn-primary btn" (click)="navigateToAddProduct(stockreference)" style="color: white;" >
        <span class="">&nbsp; Add Product</span>
    </a> &nbsp;
    
    
    <div class="equipe-container">
        <div class="listetalents-containershown">
            <div class="col-12">
             <div class="card mb-4 ">
                     <div class="card-header pb-0" >
                       <h6 class="text-center">Campaign XXXX Stock Products</h6>
                     </div>
                     <div class="card-body px-0 pt-0 pb-2">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Type</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Name</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product State</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sold Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" colspan="2" style="text-align: center;">Actions</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                        <td style="word-wrap: break-word; white-space: normal;">PqR45675822</td>
                        <td style="word-wrap: break-word; white-space: normal;">TABLETS</td>                        
                        <td style="word-wrap: break-word; white-space: normal;">Samsung Tablet 13</td>
                        <td style="word-wrap: break-word; white-space: normal;">10,000$</td>
                        <td style="word-wrap: break-word; white-space: normal;">Sold</td>
                        <td style="word-wrap: break-word; white-space: normal;">24/06/2022</td>
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;"><a>Check</a></td>
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;"><a>update</a></td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                </div>     
             </div>
            </div>
           </div>
    </div>
    
</div>
