<app-base></app-base>
<div class="listeequipes-container"> 
  <a class="btn btn-primary" (click)="navigateToAddProduct(stockreference)">Add Product</a>
  <div class="d-flex">
    <input type="file" style="width: 230px; max-height: 40px;" class="form-control" id="image" (change)="onFileSelected($event)">
    <a class="btn btn-primary" style="margin-left: 5px;" (click)="uploadFile()">Check Products</a>
    <a class="btn btn-primary" style="margin-left: 5px;" (click)="navigateTocheckHistory(stockreference)">Check History</a>
  </div>
  
      
    <div class="equipe-container">
        <div class="listetalents-containershown">
            <div class="col-12">
             <div class="card mb-4 ">
                     <div class="card-header pb-0" >
                       <h6 class="text-center">{{ campaignName }} Stock Products</h6>
                     </div>
                     <div class="card-body px-0 pt-0 pb-2">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Type</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Brand</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Model</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Price</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product State</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sold Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" colspan="2" style="text-align: center;">Actions</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let prod of productsDto">
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;" (mouseover)="showTooltip(prod)" 
                         (mouseout)="hideTooltip()">    
                         <span [style.color]="prod.checked ? 'green' : 'red'">
                          {{prod.checked ? '&#10003;' : '&#10008;'}}
                          </span>
                           {{prod.serialNumber}}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.productType}}</td>  
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.brand}}</td>                      
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.prodName}}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.price}}$</td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="prod.state">
                          {{ getStateText(prod.state.toString()) }}
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;">
                          {{ prod.soldDate ? (prod.soldDate | date: 'medium' | slice: 0:12) : 'Not sold yet' }}
                        </td>
                         <td style="word-wrap: break-word; white-space: normal; cursor: pointer; text-align: right;"><a (click)="navigateToUpdateProduct(stockreference, prod.serialNumber)">update</a></td>
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer; text-align: right;"><a>Assign</a></td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                </div>     
             </div>
             <ng-container *ngIf="enable === true" style="width: 1000px; height: 1000px;">
              <div class="tooltip-container" style="position: relative;top: -150px; left: 200px; width: 50%;">
                <div class="tooltip card" id="tooltip" 
                [style.bottom]="selectedRowIndex !== null ? (selectedRowIndex * -70) + 'px' : null"
                [style.left]="selectedRowIndex !== null ? '10%' : null"
                style="position: absolute; background-color: white;
                 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
              
              <div class="popup" style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;">
                <div class="popup-content" >
                  <h6 style="text-align: center;"> <b>{{ productdto?.prodName}} </b></h6>
                  <p style="font-size: 14px; word-wrap: break-word;">
                    {{productdto?.prodDescription}} <br>
                  </p>
                </div>
              </div>
                </div>
              </div>
            </ng-container>  
            </div>
           </div>
    </div>
    
</div>
