<!-- <app-dashboard></app-dashboard>
<div class="popup-overlay" (click)="navigateToDashboard()">
  <div class="shadowed" (click)="navigateToDashboard()"></div>
  <div class="popup-content" (click)="$event.stopPropagation()">
    <div class="popup-header">
      <h2>Barcode Scanning Options</h2>
    </div>
    <div class="popup-body">
      <div *ngIf="!showCamera">
        <div class="webcam-placeholder-off">
          <p>Camera is off. Please enable it or choose an option to proceed.</p>
        </div>
      </div> -->
      <div>
        <audio id="barcodeSound" ></audio>
        <div id="resultado"></div>
        <div id="camera"></div>
        <script src="quagga.min.js"></script>    
      </div>
   <!--   <div *ngIf="!showCamera">
        <p class="action-text">Select an action: </p>
        <button class="btn scan-btn return-btn" (click)="scan()">Scan</button>
      </div>
    </div>
  </div>
</div> -->
<script>
  function playBarcodeSound() {
      const audio = document.getElementById("barcodeSound");
      audio.play();
  }

  Quagga.init({
      inputStream: {
          name: "Live",
          type: "LiveStream",
          target: document.querySelector('#camera')
      },
      decoder: {
          readers: ["code_128_reader"]
      }
  }, function (err) {
      if (err) {
          console.log(err);
          return
      }
      console.log("Initialization finished. Ready to start");
      Quagga.start();
  });

  Quagga.onDetected(function (data) {
      console.log(data.codeResult.code);
      document.querySelector('#resultado').innerText = data.codeResult.code;
      playBarcodeSound();
  });

</script>
