<app-dashboard></app-dashboard>
<div class="popup-overlay" (click)="navigateToDashboard()">
  <div class="shadowed" (click)="navigateToDashboard()"></div>
  <div class="popup-content" (click)="$event.stopPropagation()">
    <div class="popup-header">
      <h2>Barcode Scanning Options</h2>
    </div>
    <div class="popup-body">
      <!-- Webcam placeholder -->
      <div *ngIf="!showCamera">
        <div class="webcam-placeholder-off">
          <p>Camera is off. Please enable it or choose an option to proceed.</p>
          <!-- You can add a loading spinner or any other content here -->
        </div>
      </div>
      <div *ngIf="showCamera" class="webcam-container mt-3">
        <webcam
          [trigger]="triggerObservable"
          (imageCapture)="handleImage($event)"
          (initError)="handleInitError($event)"
        ></webcam>

        <div class="text-center mt-3">
          <button class="btn btn-danger btn-lg" type="button" (click)="handleCancel()">Cancel</button>
        </div>
      </div>
      <div *ngIf="!showCamera">
        <p class="action-text">Select an action: </p>
        <button class="btn scan-btn add-btn" (click)="triggerSnapshot('add')">Register Product</button>
        <button class="btn scan-btn sell-btn" (click)="triggerSnapshot('sell')">Confirm Sale</button>
        <button class="btn scan-btn return-btn" (click)="triggerSnapshot('return')">Process Return</button>
      </div>
    </div>
  </div>
</div>
