
    <!-- Services Section - Home Page -->
    <section id="services" class="services">

        <!--  Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Discover the essence of our expertise in the Services Section. Dive into a series of informative videos where our team elaborates on the unique value and commitment we bring to each service. Get firsthand insights into our approach, innovation, and dedication as we guide you through the distinctive offerings that set us apart</p>
        </div><!-- End Section Title -->
  
        <div class="container">
  
          <div class="row gy-4">
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="100">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-person-lines-fill"></i></div>
                <div>
                  <h4 class="title"><a [routerLink]="['/services', { selectedTab: 1 }]" class="stretched-link">Sales training</a></h4>
                  <p class="description">Our comprehensive sales training program equips your team with the skills they need to succeed, and to have an effective and competent sales force.</p>
                </div>
              </div>
            </div>
            <!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="200">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-bar-chart-line"></i></div>
                <div>
                  <h4 class="title"><a [routerLink]="['/services', { selectedTab: 2 }]" class="stretched-link">Marketing research and development</a></h4>
                  <p class="description">Take your business to the next level with in-depth market research, creative marketing campaigns and content development that resonates with your target audience.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="300">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-megaphone"></i></div>
                <div>
                  <h4 class="title"><a [routerLink]="['/services', { selectedTab: 3 }]" class="stretched-link">Campaign management</a></h4>
                  <p class="description">Collaborate with us to identify, plan, test and monitor strategic campaigns, analyzing results to ensure the success of your marketing initiatives.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="400">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-calendar-event"></i></div>
                <div>
                  <h4 class="title"><a [routerLink]="['/services', { selectedTab: 4 }]" class="stretched-link">Promotional event planning</a></h4>
                  <p class="description">Trust our experienced event specialists to meticulously plan and execute corporate and private events, managing everything from conceptualization to risk management.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
  
            <div class="col-lg-6 " data-aos="fade-up" data-aos-delay="600">
              <div class="service-item d-flex">
                <div class="icon flex-shrink-0"><i class="bi bi-envelope-open"></i></div>
                <div>
                  <h4 class="title"><a [routerLink]="['/services', { selectedTab: 5 }]" class="stretched-link">Direct marketing services</a></h4>
                  <p class="description">Tailor-made strategies to effectively sell your services and design specific direct marketing campaigns for energy-related products. Leverage our years of experience to achieve ambitious goals in your industry through effective direct marketing planning.</p>
                </div>
              </div>
            </div><!-- End Service Item -->
  
          </div>
  
        </div>
  
      </section><!-- End Services Section -->