<div class="shadowed" (click)="navigateToProducts(stockreference)">
    <app-products></app-products>
</div>

<div class="appform-container">
    <div class="container-fluid py-4" style="width: 100%;">
        <div class="row" style="width: 100%;">
          <div class="col-md-8" style="width: 100%;">
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="mb-0">Product Registration in {{ stockreference }} Stock</p>
                </div>
              </div>
              <div class="card-body">
                <p class="text-uppercase text-sm">Product Information</p>  
                <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="campaign">Serial Number</label>
                      <input type="text" class="form-control mt-2" id="campaignDescription" formControlName="campaignDescription" >
                    </div>
                  </div>  
                  <div class="col-md-6">
                        <div class="form-group">
                          <label for="campaign">Product Type</label>
                          <select class="form-control mt-2" formControlName="reference" id="reference">
                            <option> Tablet</option>  
                            <option> Phone</option>                                          
                        </select>
                            </div>
                      </div>
                  <div class="col-md-6">
                    <div class="form-group">
                          <div class="form-group">
                            <label for="campaignDescription">Product Name</label>
                            <input type="text" class="form-control mt-2" id="campaignDescription" formControlName="campaignDescription" >
                        </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="campaign">Price</label>
                      <input type="text" class="form-control mt-2" id="campaignDescription" formControlName="campaignDescription" appNumericOnly>
                    </div>
                  </div> 
                  <div class="col-md-12">
                      <label for="campaignDescription">Product Description</label>
                      <textarea class="form-control mt-2" id="campaignDescription" formControlName="campaignDescription" placeholder="Please enter a company contact person" rows="3"></textarea>
                  </div>
                   
                  </div>
                  <br>
                  <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary btn-sm " style="width: 160px; ">Add Product</button>
                </div>
               </form>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>