<div class="container mt-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title text-center">Add News & Insights</h3>
            <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" placeholder="Enter a title">
              </div>
              <div class="form-group">
                <label for="content">Content</label>
                <textarea formControlName="content" class="form-control" placeholder="Enter your description" rows="8"></textarea>
              </div>
              <div class="form-group file-input-container">
                <label for="images">
                  <span>Upload Image(s)</span>
                  <i class="fas fa-upload"></i>
                </label>
                <input type="file" formControlName="images" (change)="onFileChange($event)" multiple>
              </div>
              
              <button type="submit" class="btn btn-dark w-100">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  