 <!-- Recent-posts Section - Home Page -->
 <section id="news" class="recent-posts">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>News & Insights</h2>
      <p>Explore the latest trends and industry updates in our News & Insights section.
      </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">
        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300" style="max-width: 330px;">
          <article>

            <div class="post-img">
              <img src="../../assets/img/casino/casino11.jpeg" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="cursor: pointer;">
              <a (click)="navigateToNewsdetails(casino)">Casino Night Phoenix</a></h2>

       
              <p class="post-category">Phoenix Marketing & Advertising's Casino Night Extravaganza, closing 2023 and welcoming 2024, epitomized our commitment to excellence. Rooted in our core values of integrity, professionalism, innovation, and customer focus, this exclusive event was more than a celebration—it forged a close-knit family from colleagues.
            </p>

          

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="max-width: 330px;">
          <article>

            <div class="post-img">
              <img src="../../assets/img/gift.png" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="cursor: pointer;">
              <a  (click)="navigateToNewsdetails(gift)">Phoenix's Festive Gift 🎁</a></h2>

              <p class="post-category">Phoenix Marketing and Advertising of Worcester spread holiday happiness by generously gifting every student at Columbus Park Preparatory Academy. The three-month effort by Phoenix and school staff resulted in beaming smiles, showcasing the true spirit of the season. Happy holidays to all!
            </p>
            

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="max-width: 330px;">
          <article>

            <div class="post-img">
              <img src="../../assets/img/season.png" alt="" class="img-fluid">
            </div>

            <h2 class="title" style="cursor: pointer;">
              <a  (click)="navigateToNewsdetails(awards)">Awards Night Phoenix</a></h2>

              <p class="post-category">Phoenix Marketing & Advertising participates in the annual Christmas party to transform it into a heartwarming awards evening, celebrating team dedication and fostering a spirit of recognition, fun, and love.
            </p>
            

          </article>
        </div><!-- End post list item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200" style="max-width: 330px;">
          <article>

            <div class="post-img">
              <img src="../../assets/img/fire.jpg" alt="" class="img-fluid">
            </div>
            <h2 class="title" style="cursor: pointer;">
              <a (click)="navigateToNewsdetails(fire)">Fire and success light up Nantucket</a>
          </h2>
            
                <p class="post-category">Nantucket lights up as Phoenix acknowledges the outstanding contributions of its sales agents and staff in a symbolic event, expressing pride and gratitude for their hard work and success.
              </p>
                
          

           

          </article>
        </div><!-- End post list item -->

      </div><!-- End recent posts list -->
    </div>
  </section><!-- End Recent-posts Section -->
  <div class="col-md-12 text-center">
  <button (click)="navigateToAllNews()" >View All</button>
  </div>
