 <!-- Portfolio Section - Home Page -->
 <section id="GetToKnowUs" class="portfolio">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Get To Know Us</h2>
      <p>Meet the driving forces behind our success</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">Get To Know Us</li>
          <li data-filter=".filter-product">Work For phoenix</li>
          <li data-filter=".filter-branding">Beyond Business</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <iframe width="100%" height="700" src="https://www.youtube.com/embed/nYEWwtJnQm4" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->
          

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/_MlzAOrfPog" frameborder="5" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/0YKowS12jT8" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/QtvMMjNsmww" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/XhRInmEJm8A" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->
          
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/LT-U2d89yfo" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/7aqnPsMItkA" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->
          
          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/HbUMKVUZFsk" frameborder="0" allowfullscreen></iframe>
          </div><!-- End Portfolio Item -->

        <!-- End Portfolio Item -->

        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- End Portfolio Section -->