<section id="clients" class="clients">
    <div class="container-fluid" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-xl-2 col-md-3 col-6 client-logo" style="margin-left: 390px;">
          <img src="../../assets/img/part2.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->
        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="../../assets/img/part1.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->
        <div class="col-xl-2 col-md-3 col-6 client-logo">
          <img src="../../assets/img/part3.png" class="img-fluid" alt="">
        </div><!-- End Client Item -->
      </div>
    </div>
  </section><!-- End Clients Section -->