<app-base></app-base>
<div class="listeequipes-container"> 
    <a  class="btn-primary btn" routerLink="/addstock" style="color: white;">
        <span class="">&nbsp; Add Stock</span>
    </a> &nbsp;
    
    
    <div class="equipe-container">
        <div class="listetalents-containershown">
            <div class="col-12">
             <div class="card mb-4 ">
                     <div class="card-header pb-0" >
                       <h6 class="text-center">Stock List</h6>
                     </div>
                     <div class="card-body px-0 pt-0 pb-2">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Reference</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Product Types</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">campaign</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">CLIENT</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">stock Value</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Checked Status</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" colspan="2" style="text-align: center;">Actions</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr *ngFor="let stock of stocks">
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;"><a (click)="navigateToProducts(stock.stockReference)" >{{ stock.stockReference }}</a></td>
                        <td style="word-wrap: break-word; white-space: normal;">
                          <div style="max-height: 70px; overflow-y: auto;">
                            <ul *ngFor="let product of stock.campaigndto?.products">
                              <li>{{product}}</li>
                            </ul>
                          </div>
                        </td>                      
                        <td style="word-wrap: break-word; white-space: normal;">{{ stock.campaigndto?.campaignName }}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{stock.campaigndto?.client?.companyName}}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{ stock.stockDate | date: 'medium' | slice: 0:12 }}</td>
                        <td style="word-wrap: break-word; white-space: normal;"> {{ stock.stockValue ?? 0 }}  $</td>
                        <td [style.color]="stock.checked ? 'green' : 'red'">
                          {{ stock.checked ? 'Stock already checked' : 'Stock not yet checked' }}
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;">
                          <a *ngIf="!stock.checked" style="cursor: pointer;">Check</a>
                          <span *ngIf="stock.checked">Approved</span>
                        </td>
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;"><a>update</a></td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
                </div>     
             </div>
            </div>
           </div>
    </div>
    
</div>
