<app-base></app-base>
<div class="listeequipes-container"> 
  <div class="search-wrapper">
  <div class="search-container">
    <span class="search-icon"><i style="margin-left: 5px;" class="fas fa-search"></i></span>
    <input class="form-control rounded-input" type="text" [(ngModel)]="searchTerm" (keyup)="searchStocks()" style="margin-left: 10px;" placeholder="Search by Serial Number or Sim Number">
  </div>
</div>
  <div class="d-flex" style="justify-content: space-between;">
  <div class="firstclass d-flex">
    <!-- Content for firstclass div -->
  </div>

</div>
  <div class="equipe-container">
        <div class="listetalents-containershown">
          <div class="col-12">
             <div class="card mb-4">
              <!-- To add Div -->
              <div class="col-lg-4 col-md-6 my-sm-auto mt-3" style="padding: 10px;">
                <div class="nav-wrapper position-relative end-0" style="height: 100%;">
                  <ul class="nav nav-pills nav-fill p-1" role="tablist">
                    <li class="nav-item" [class.selected]="selectedTab === 0" style="cursor: pointer;">
                      <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center" (click)="selectedTabProf()" role="tab" [attr.aria-selected]="selectedTab === 0">
                        <i class="ni ni-box-2"></i>
                        <span class="ms-2">Products</span>
                      </a>
                    </li>
                    <li class="nav-item" [class.selected]="selectedTab === 1" style="cursor: pointer;">
                      <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center" (click)="selectedTabMyStock()" role="tab" [attr.aria-selected]="selectedTab === 1">
                        <i class="ni ni-money-coins"></i>
                        <span class="ms-2">Sold Products</span>
                      </a>
                    </li>
                    <li class="nav-item" [class.selected]="selectedTab === 2" style="cursor: pointer;">
                      <a class="nav-link mb-0 px-0 py-1 d-flex align-items-center justify-content-center" (click)="selectedTabMessages()" role="tab" [attr.aria-selected]="selectedTab === 2">
                        <i class="ni ni-archive-2"></i>
                        <span class="ms-2">Returned Products</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- End "To add Div" -->

            <ng-container *ngIf="selectedTab === 0">
              <div class="card-header pb-0" style="justify-content: space-between; align-items: center;">
                <h6 class="text-center" style="margin-top: -20px;">Archived Stock Products</h6>
              </div>
              <div class="card-body px-0 pt-0 pb-2" style="margin-top: 10px;">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SIM Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="max-width: 50px;">Status</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="max-width: 60px;">Box</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Produt Type</th>
                       </tr>
                     </thead>
                     <tbody>
                      <ng-container  *ngIf="loading;">
                        <tr>
                          <td colspan="10" style="text-align: center;">
                            <div class="loading-container">
                              <div class="loading-spinner"></div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!loading && emptyProducts;">
                        <tr>
                          <td colspan="10" style="text-align: center;">
                            <p>No products found. Please check back later.</p>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!loading && !emptyProducts; ">
                        <tr>
                        </tr>
                       <tr *ngFor="let prod of filterfinishforProds;  let i = index">
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;" (mouseover)="showTooltip(prod)" (mouseout)="hideTooltip()" *ngIf="prod.serialNumber">
                          <span [innerHTML]="highlightMatch(prod.serialNumber)"></span>
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="prod.simNumber">
                          <span [innerHTML]="highlightMatch(prod.simNumber)"></span>
                        </td>  
                        <td style="word-wrap: break-word; white-space: normal; max-width: 50px; align-items: center;">
                          <span style="font-size: 20px;" [style.color]="prod.checkedExistence ? 'green' : 'red'">
                            {{prod.checkedExistence ? '&#10003;' : '&#10008;'}}
                            </span></td> 

                                  

                        <td style="word-wrap: break-word; white-space: normal; max-width: 60px; align-items: center;">
                            <span style="word-wrap: break-word; white-space: normal; max-width: 60px; align-items: center;">
                              {{ prod.boxNumber ? prod.boxNumber : '' }}
                            </span>
                          </td>  
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.productType}}</td>
                       </tr>
                       <tr>
                        <td colspan="10" style="margin-right: 5px;">
                          <app-custom-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-custom-pagination>                    
                         </td>
                        </tr>
  
                       </ng-container>

                     </tbody>
                   </table>
                 </div>
              </div>   
            </ng-container>

            <ng-container *ngIf="selectedTab === 1">
              <div class="card-header pb-0" style="display: flex; justify-content: center;">
                <h6 style="margin-top: -20px;">Archived Stock Sold Products</h6>
              </div>
              <div class="card-body px-0 pt-0 pb-2" style="margin-top: 10px;">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SIM Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" >check Sell</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sold Date</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Produt Type</th>
                       </tr>
                     </thead>
                     <tbody>
                      <ng-container  *ngIf="loadingSold;">
                        <tr>
                          <td colspan="12" style="text-align: center;">
                            <div class="loading-container">
                              <div class="loading-spinner"></div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!loadingSold && emptySoldProducts;">
                        <tr>
                          <td colspan="12" style="text-align: center;">
                            <p>No sold products found. Please check back later.</p>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!loadingSold && !emptySoldProducts; ">
                        <tr>
                        </tr>
                       <tr *ngFor="let prod of filterfinishforSoldProds;  let i = index">
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;" *ngIf="prod.serialNumber">
                          <span [innerHTML]="highlightMatch(prod.serialNumber)"></span>
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="prod.simNumber">
                          <span [innerHTML]="highlightMatch(prod.simNumber)"></span>
                        </td>  
                        <td style="word-wrap: break-word; white-space: normal; max-width: 50px; align-items: center;">
                          <span style="font-size: 20px;" [style.color]="prod.checkedSell ? 'green' : 'red'">
                            {{prod.checkedSell ? '&#10003;' : '&#10008;'}}
                            </span></td> 
                            <td style="word-wrap: break-word; white-space: normal;">{{prod.soldDate}}</td>
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.productType}}</td>
                       </tr>
                       <tr>
                        <td colspan="12" style="margin-right: 5px;">
                          <app-custom-pagination [currentPage]="currentPageSoldProd" [totalPages]="totalPagesSoldProd" (pageChange)="onSoldProdPageChange($event)"></app-custom-pagination>                    
                         </td>
                        </tr>
  
                       </ng-container>

                     </tbody>
                   </table>
                 </div>
              </div>   
            </ng-container>



            <ng-container *ngIf="selectedTab === 2">
              <div class="card-header pb-0" style="justify-content: space-between; align-items: center;">
                <h6 class="text-center" style="margin-top: -20px;">Archived Stock Returned Products</h6>
              </div>
              <div class="card-body px-0 pt-0 pb-2" style="margin-top: 10px;">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Serial Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">SIM Number</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="max-width: 50px;">Status</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" style="max-width: 60px;">Box</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Produt Type</th>
                       </tr>
                     </thead>
                     <tbody>
                      <ng-container  *ngIf="returnloading;">
                        <tr>
                          <td colspan="13" style="text-align: center;">
                            <div class="loading-container">
                              <div class="loading-spinner"></div>
                            </div>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!returnloading && emptyReturnProducts;">
                        <tr>
                          <td colspan="13" style="text-align: center;">
                            <p>No products Returned. Please check back later.</p>
                          </td>
                        </tr>
                      </ng-container>
                      <ng-container  *ngIf="!returnloading && !emptyReturnProducts; ">
                        <tr>
                        </tr>
                       <tr *ngFor="let prod of returnProds;  let i = index">
                        <td style="word-wrap: break-word; white-space: normal; cursor: pointer;" (mouseover)="showTooltip(prod)" (mouseout)="hideTooltip()" *ngIf="prod.serialNumber">
                          <span [innerHTML]="highlightMatch(prod.serialNumber)"></span>
                        </td>
                        <td style="word-wrap: break-word; white-space: normal;" *ngIf="prod.simNumber">
                          <span [innerHTML]="highlightMatch(prod.simNumber)"></span>
                        </td>  
                        <td style="word-wrap: break-word; white-space: normal; max-width: 50px; align-items: center;">
                          <span style="font-size: 20px;" [style.color]="prod.checkedExistence ? 'green' : 'red'">
                            {{prod.checkedExistence ? '&#10003;' : '&#10008;'}}
                            </span></td> 
                                  
                        <td style="word-wrap: break-word; white-space: normal; max-width: 60px; align-items: center;">
                            <span style="word-wrap: break-word; white-space: normal; max-width: 60px; align-items: center;">
                              {{ prod.boxNumber ? prod.boxNumber : '' }}
                            </span>
                      
                          </td>  
                        <td style="word-wrap: break-word; white-space: normal;">{{prod.productType}}</td>
                       </tr>
                       <tr>
                        <td colspan="13" style="margin-right: 5px;">
                          <app-custom-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="onPageChange($event)"></app-custom-pagination>                    
                         </td>
                        </tr>
  
                       </ng-container>

                     </tbody>
                   </table>
                 </div>
              </div>   
            </ng-container>

























              </div>  

             <ng-container *ngIf="enable === true && productdto?.comments != undefined && productdto?.comments != null" style="width: 1000px; height: 1000px;">
              <div class="tooltip-container" style="position: relative;top: -150px; left: 200px; width: 50%;">
                <div class="tooltip card" id="tooltip" 
                [style.bottom]="selectedRowIndex !== null ? (selectedRowIndex * -70) + 'px' : null"
                [style.left]="selectedRowIndex !== null ? '10%' : null"
                style="position: absolute; background-color: white;
                 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);">
              
              <div class="popup" style="margin-left: 10px; margin-right: 10px; margin-top: 10px; margin-bottom: 10px;">
                <div class="popup-content" >
                  <h6 style="text-align: center;"> <b>{{ productdto?.prodName}} </b></h6>
                  <p style="font-size: 14px; word-wrap: break-word;">
                    {{productdto?.comments}} <br>
                  </p>
                </div>
              </div>
                </div>
              </div>
            </ng-container>  
            </div>
           </div>
    </div>
    
</div>
