<div class="shadowed" (click)="navigateTostocks()">
  <app-stocks></app-stocks>
</div>
<div class="popup-overlay">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h2>Barcode Scanning Options</h2>
      </div>
      <div class="popup-body">
        <div class="scanner-container">
          <div id="scanner-container"></div>
        </div>
              
        
        <ng-container *ngIf="!showCamera else scan">
        <div>
          <p>What is the stock you want to check ?</p>
          <select class="form-control mt-2" type="text" style="margin-bottom: 15px;">   
            <option selected disabled>Select a stock to proceed !</option>
            <option>MMM</option>
            <option>LLL</option>
            <option>KKK</option>
          </select>             
          <div class="webcam-placeholder-off">
            <p>Camera is off. Please enable it and choose a stock to proceed products check.</p>
          </div>
          <br>

          <ng-container *ngIf="nostock" style="text-decoration:color(255, 0, 0);">You didn't choose a stock</ng-container>     
                                                    <br>
          <button class="btn scan-btn add-btn" (click)="triggerSnapshot()">Enable Camera</button>  
        </div>
      </ng-container>
        <ng-template #scan>
           <div class="text-center mt-3">
            <div class="col-md-12" style="max-height: 300px; overflow-y: scroll;" class="input-wrapper" *ngFor="let barcode of barcodes">
              <input [value]="barcode" class="form-control mt-2" type="text" style="margin-bottom: 3px;">                
            </div>
            <button class="btn btn-danger btn-lg" type="button" (click)="handleCancel()">Cancel</button>
          </div>
        </ng-template>
  
      </div>
    </div>
  </div>
  