<!-- About Section - Home Page -->
<section id="about" class="about">

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row align-items-xl-center gy-5">

        <div class="col-xl-5 content">
          <img src="../../assets/img/phoenix.png" alt="Phoenix Logo" style="max-height: 500px; display: block; margin-top: 0; width: 100%;">
          <div style="margin-top: 20px;">
            <h3>About Us</h3>
            <h2>Company</h2>
            <p>Phoenix Marketing & Advertising is the fastest growing direct marketing firm in the United States. Our coalition consists of over 500 contracted sales professionals with over 25 office locations across the continental United States.            </p>
          </div>
        </div>
        
        <div class="col-xl-7">
          <div class="row gy-4 icon-boxes">
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box">
                <i class="bi bi-building"></i>
                <h3>Our Story </h3>
                <p>Phoenix Marketing & Advertising Inc. is a dynamic, fast-paced, and growing marketing firm focused on targeted customer base expansion, successful marketing campaigns, and innovative product launches.</p>
              </div>
            </div> <!-- End Icon Box -->

            <div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <i class="bi bi-hand-thumbs-up"></i>
                <h3>Why choose us</h3>
                <p>Enhance your business experience with Phoenix Marketing & Advertising - a dynamic partner dedicated to professionalism, a powerful sales and marketing force and a personalized approach that guarantees your success.</p>
              </div>
            </div> <!-- End Icon Box -->
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <i class="bi bi-bullseye"></i>
                <p> We are dedicated to the highest quality client service delivery through personal, individualized market planning. We are driven to get optimal results through in-depth analysis of product, market, and desired outcomes.</p>
              </div>
            </div> <!-- End Icon Box -->
            <br>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <i class="bi bi-shield-check"></i>
                <h3>Values</h3>
                <p>Our guiding values - Integrity, Professionalism, Innovation and Customer Focus - light our way</p>
              </div>
            </div> <!-- End Icon Box -->

           

          </div>
        </div>

      </div>
    </div>

  </section><!-- End About Section -->