<div class="shadowed" (click)="navigateToProducts(stockreference)">
    <app-products></app-products>
</div>

<div class="appform-container">
    <div class="container-fluid py-4" style="width: 100%;">
        <div class="card-body">
            <div id="pdf-content" class="container">
                    <h3 class="mb-0">Inspection report for {{campaignName}} launched by {{companyName}}:</h3>

                <br>
                <h6>After comparing the serial numbers of the products in this stock in the database with the data in the Excel file, here are the notes to consider</h6>
                <br>    
                <div class="row">
                        <p style="color: red;"><b>List of serial numbers in Excel file that do not exist in our warehouse</b> </p>
                      <div class="col-sm-14">
                        <ul class="flex-container">
                          <li class="text-muted mb-0" *ngFor="let prod of compuncheckedProds">{{prod}}</li>
                        </ul>
                      </div>
                      
                </div>
                    <hr>
                
                    <div class="row">
                        <p style="color: red;"><b>List of serial numbers in our warehouse that do not exist in the Excel file</b> </p>
                      <div class="col-sm-9">
                        <ul>
                          <li class="text-muted mb-0" *ngFor="let prod of productsDto">{{prod.serialNumber}} -- {{prod.brand}} -- {{prod.prodName}} </li>
                        </ul>
                      </div>
                </div>

                
               
            </div>
          </div>

        </div>
        </div>