<div class="shadowed">
  <app-userdetails></app-userdetails>
</div>
<div class="popup-overlay">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <div class="popup-header">
        <h2>Barcode Scanning To Sell</h2>
      </div>
      <div class="popup-body">
        <div class="scanner-container">
          <div id="scanner-container"></div>
        </div>
           <div class="text-center mt-3">
            <div class="col-md-12" style="max-height: 300px; overflow-y: scroll;" class="input-wrapper">
              <input [ngModel]="firstBarcode" placeholder="Enter Barcode" (ngModelChange)="onBarcodeChange($event)" class="form-control mt-2" type="text" style="margin-bottom: 3px;">                
            </div>
            <i class="fas fa-times cancel-icon" (click)="handleCancel()"></i>

            <button class="btn scan-btn add-btn" type="button" (click)="proceedsell()">Sell Prod</button>
            <i class="fas fa-times cancel-icon" (click)="navigateToUserdetails(securityService.profile?.username)"></i>

          </div>
  
      </div>
    </div>
  </div>
  