<!-- <script src="https://cdn.jsdelivr.net/npm/keycloak-js@12"></script> -->
<div style="background-color:#f6f7fc; height: 100%;">
  <div class="background" style="position: relative; margin-bottom: 20%;">
    <img src="assets/track.jpg" style="width: 100%;">
    <div class="logo-container">
      <img src="assets/logo.png" alt="UniStock Keeper Logo">
    </div>
  </div>
  <form (submit)="login()">
    <div style="margin-bottom: 40px; text-align: center; color: #6c757d;">
      <h2 >Login to <strong>Unistock Keeper</strong></h2>
      <p class="mb-4">Empower Your Business, Master Your Inventory.</p>
    </div>

    <div class="form-group">
      <label for="companyName"></label>
      <input class="form-control mt-2 login-input" type="text" placeholder="Username" [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group2">
      <label for="companyName"></label>
      <input class="form-control mt-2 login-input" type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
    </div>

    <div class="otheractions">
      <label style="display: flex; align-items: center;">
        <input type="checkbox" id="rememberMe" style="margin-right: 5px; margin-bottom: 14%;">
        <p style="font-size: 15px;">Remember Me</p>
      </label>
      <a routerLink="/forgetpw" style="text-decoration: none;"><p style="font-size: 15px;"><u>Forget Password?</u></p></a>
    </div>
        <div style="display: flex; justify-content: center;">
      <button type="submit" class="btn btn-block btn-primary login-button"><b>Login</b></button>
    </div>
  </form>
</div>
