.logo-container {
  position: absolute;
  top: 30px;
  left: 10px;
}

.logo-container img {
  max-height: 150px;
}

.background {
  max-height: 200px;
}

h2 {
  font-family: "Roboto", sans-serif; }
p {
  color: #b3b3b3;
  font-weight: 300;
font-size: 20px; }

  .form-group {
    margin-bottom: 20px;
    margin-left: 10%;
  }
  .form-group2 {
    margin-left: 10%;
  }

  .login-button {
    margin-top: 5%;
    width: 80%;
    background-color: #37517e;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
    
  .login-button:hover {
    background-color: #2d4166;
  }
  
  .login-button:active {
    background-color: #24304c;
    box-shadow: 0 3px #1a2335;
    transform: translateY(2px);
  }
  
  .login-input {
    width: 90%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .login-input:focus {
    border-color: #37517e;
    box-shadow: 0 0 5px rgba(55, 81, 126, 0.5);
    outline: none;
  }
  
  .otheractions {
    display: flex;
     justify-content: space-between;
      margin-top: 10px;
      margin-left: 8%;
      margin-right: 8%;
  }

 
  #rememberMe {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 0.5px solid #37517e;
    background-color: transparent;
    border-radius: 3px; 
  }
  
  #rememberMe:checked {
    background-color: #37517e;
  }
  
