<!-- Features Section - Home Page -->
<section id="features" class="features">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Pathway to Excellence</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4 align-items-center features-item">
        <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h3>Strategic branding</h3>
          <p>
            Crafting a compelling story that resonates with your audience. Our experts work closely with you to develop a strategic brand and campaign approach, establishing a solid foundation for successful marketing initiatives. This process involves understanding your brand's message, target audience and unique value proposition to create a distinctive and memorable brand identity.            </p>
        </div>
        <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <div class="image-stack">
            <img src="../../assets/img/branding.jpg" alt="" class="stack-front">
            <img src="../../assets/img/excellence.jpg" alt="" class="stack-back">
          </div>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-stretch justify-content-between features-item ">
        <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
          <img src="../../assets/img/inov.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
          <h3>Innovation Journey</h3>
          <p>Embark on a journey of innovation with our "Innovate & Elevate" process. We guide you through an end-to-end transformation by leveraging customer insight and creative strategies. This dynamic approach ensures that your brand doesn't just meet your customers' changing needs, but exceeds them. We don't just adapt; we innovate for sustainable success.</p>
         
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-center features-item">
        <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h3>Operational excellence</h3>
          <p>
            Achieve operational excellence with our proven "Operate & Impact" strategies. Drawing on our years of experience, market innovations and invaluable customer feedback, we implement strategies that centralize operations management. From production to marketing and sales, we streamline your company's operations for seamless efficiency and impactful results. Your success is our priority, and our operational solutions are designed to stimulate growth and maximize impact in every facet of your business.</p>
        </div>
        <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
          <div class="image-stack">
            <img src="../../assets/img/OperationalE.jpg" alt="" class="stack-front">
            <img src="../../assets/img/excellence.jpg" alt="" class="stack-back">
          </div>
        </div>
      </div><!-- Features Item -->

      <div class="row gy-4 align-items-stretch justify-content-between features-item ">
        <div class="col-lg-6 d-flex align-items-center features-img-bg" data-aos="zoom-out">
          <img src="../../assets/img/csr2.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-5 d-flex justify-content-center flex-column" data-aos="fade-up">
          <h3>Corporate Social Responsibility (CSR)</h3>
<p>At Phoenix Marketing & Advertising, we believe in the deep responsibility that comes with success. Beyond our commitment to excellence in sales and marketing, we strive to be a force for positive change. Our vision of Corporate Social Responsibility (CSR) is rooted in the belief that businesses must contribute to the well-being of the community and the environment.
</p>           
        </div>
      </div><!-- Features Item -->

    </div>

  </section><!-- End Features Section -->