<app-base></app-base>
<div class="listeequipes-container"> 
    <a  (click) = "navigateToaddClient()" class="btn-primary btn" style="color: white;">
        <span class="">&nbsp; Add Client</span>
    </a> &nbsp;
    <a  class="btn-primary btn" style="color: white;">
        <span class="">&nbsp; Run Campaign</span>
    </a>
    
    <div class="equipe-container">
        <div class="listetalents-containershown">
            <div class="col-12">
             <div class="card mb-4 ">
                     <div class="card-header pb-0" >
                       <h6 class="text-center">Campaigns List</h6>
                     </div>
                     <div class="card-body px-0 pt-0 pb-2">
                 <div class="table-responsive p-0">
                   <table class="table align-items-center justify-content-center mb-0" style="width: 100%;">
                     <thead>
                       <tr>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">REFERENCE</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">NAME</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">PRODUCT</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">CLIENT</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">START DATE</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">GENERATED VALUE</th>
                         <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2" colspan="2" style="text-align: center;">Actions</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td style="word-wrap: break-word; white-space: normal;"> kkk </td>
                         <td style="word-wrap: break-word; white-space: normal;">kkk</td>
                         <td style="word-wrap: break-word; white-space: normal;">kkk</td>
                         <td style="word-wrap: break-word; white-space: normal;">kkk</td> 
                         <td style="word-wrap: break-word; white-space: normal;"> kkk </td>
                         <td style="word-wrap: break-word; white-space: normal;">kkk</td>
                         <td style="word-wrap: break-word; white-space: normal;">update</td>
                         <td style="word-wrap: break-word; white-space: normal;">end</td>         
                       </tr>
                     
                     </tbody>
                   </table>
                 </div>
                     </div>
             </div>
            </div>
           </div>
    </div>
</div>