<div class="confirmation-dialog">
  <div class="dialog-content">
    <h3>Confirm Deletion</h3>
    <div class="webcam-placeholder-off">
      <p> {{ message }}</p>
      </div>
    <div class="buttons" >
      <button class="confirm-button" (click)="confirm()">Confirm</button>
      <button class="cancel-button" (click)="cancel()">Cancel</button>
      <ng-container *ngIf="loadingPop">
        <div class="loading-indicator">
        <span class="loading-text">Please wait&nbsp;</span>
        <span class="dot"></span><span class="dot"></span><span class="dot"></span>
      </div>
      </ng-container>
     </div>
  </div>
</div>
