.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
  }
  
  .date {
    font-size: smaller;
  }

  .unread-notification {
    background-color: #f2f2f2;
  }
  
  .description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
  }
  
  .notif-item {
    --background: #ffffff !important;
    background-color: #ffffff !important;
    color: black !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .notif-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .item-content {
    --background: #ffffff !important;
    background-color: #ffffff !important;
  }
  
  body.dark .notif-item {
    --background: #ffffff !important;
    background-color: #ffffff !important;
  }
  