 <!-- ======= Footer ======= -->
 <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
          </a>
          <div class="social-links d-flex mt-4">
            <a href="https://www.facebook.com/PhoenixMarketingandAdvertising "><i class="bi bi-facebook"></i></a>
            <a href="https://www.instagram.com/phoenixmarketingworc"><i class="bi bi-instagram"></i></a>
            <a href="https://www.youtube.com/channel/UCp6KfbrG1qvFSHTtz17lDkw"><i class="bi bi-youtube"></i></a>
          </div>
        </div>

        

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p class="mt-4"><strong>Phone:</strong> <span>(508) 755 – 6713</span></p>
          <p><strong>Email:</strong> <span>Robertr@phoenixmas.com</span></p>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Location</h4>
          <p class="mt-4"><span>64 Dewey St, Worcester, MA</span></p>
          <p><span>United States, Massachusetts</span></p>
        </div>

      </div>
    </div>

    

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>