<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start" (click)="refresh()">
      <ion-menu-button>
        <ion-icon name="person-circle" style="font-size: 30px;"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="header-title">UniStock Tracker</ion-title>
    <ion-buttons slot="end" class="header-buttons">
      <ion-button (click)="onLogout()" class="logout-button" fill="clear">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="ion-page" id="main-content">
  </div>
</ion-header>


<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar class="header-toolbar">
      <ion-title class="header-title">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen style="--background: #ffffff;">
      <ion-item style="margin-top: 30px; --background: #ffffff;">
        <ion-avatar slot="start" style="height: 80px; width: 80px;">
          <ng-container *ngIf="user?.image; else staticImage">
          <ion-img [src]="getBase64Image()"></ion-img>
        </ng-container>
        <ng-template #staticImage>
          <ion-img src="../../../assets/unknown.png"></ion-img>
        </ng-template>
        </ion-avatar>
        <ion-label>
          <h2 style="color: black;">{{username.toUpperCase()}}</h2>
          <p style="color: black;">{{userJobTitle}}</p>
        </ion-label>
      </ion-item>
      <ion-card style="margin-top: 40px; --background: #ffffff;">
        <ion-card-header>
         <b>Profile Indicators</b>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="4" class="indicator">
                <ion-icon name="cube-outline" class="icon-associated"></ion-icon>
                <ion-label class="value">{{associatedProds}}</ion-label>
                <br>
                <ion-label class="label">Associated</ion-label>
              </ion-col>
              <ion-col size="4" class="indicator">
                <ion-icon name="cart-outline" class="icon-sold"></ion-icon>
                <ion-label class="value">{{soldProds}}</ion-label>
                <br>
                <ion-label class="label">Sold</ion-label>
              </ion-col>
              <ion-col size="4" class="indicator">
                <ion-icon name="return-down-back-outline" class="icon-returned"></ion-icon>
                <ion-label class="value">{{returnedProds}}</ion-label>
                <br>
                <ion-label class="label">Returned</ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card style="margin-top: 40px; padding-bottom: 20px; --background: #ffffff;" >
        <ion-card-header>
          <b>User Profile Information</b>
        </ion-card-header>
        <ion-grid>
          <ion-row style="margin-bottom: 10px;">
            <ion-col size="6">
              <ion-label>First Name</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label>{{firstName}}</ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row style="margin-bottom: 10px;">
            <ion-col size="6">
              <ion-label>Last Name</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label>{{lastname}}</ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row style="margin-bottom: 10px;">
            <ion-col size="6">
              <ion-label>Email</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label>{{email}}</ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row style="margin-bottom: 10px;">
            <ion-col size="6">
              <ion-label>Phone</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label>{{phone}}</ion-label>
            </ion-col>
          </ion-row>
          
          <ion-row style="margin-bottom: 10px;">
            <ion-col size="6">
              <ion-label>Role</ion-label>
            </ion-col>
            <ion-col size="6">
              <ion-label>{{userRole}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <div class="ion-text-center">
      <ion-button fill="outline" style="width: 80%; color: #37517e;" (click)="navigateToSend()">Send Notification</ion-button>
      </div>
      </ion-content>
</ion-menu>
