<div class="shadowed" (click)="navigateToUserdetails()">
    <app-userdetails></app-userdetails>
</div>

<div class="appform-container">
    <div class="container-fluid py-4" style="width: 100%;">
        <div class="row" style="width: 100%;">
          <div class="col-md-8" style="width: 100%;">
            <div class="card">
              <div class="card-header pb-0">
                <div class="d-flex align-items-center">
                  <p class="mb-0">Complaint</p>
                </div>
              </div>
              <div class="card-body">
                <form [formGroup]="notifForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="managers">Manager</label>
                        <select class="form-control mt-2" formControlName="managers" id="managers" style="max-height: 50px;" multiple>
                          <option *ngFor="let manager of managerList" [value]="manager.username">
                            {{manager.firstName?.toUpperCase()}} - {{manager.lastName?.toUpperCase()}}
                          </option>
                        </select>
                       </div>
                    </div>                  
                    <div class="col-md-12">
                  <div class="form-group">
                    <label for="complaintText">Complaint Body</label>
                    <textarea class="form-control mt-2" formControlName="complaintText" id="complaintText" rows="4"></textarea>
                  </div>
                    </div>
                    <div style="display: flex; justify-content: center;">
                      <button type="submit" class="btn btn-primary btn-sm " style="width: 160px; ">Send</button>
                    </div>
               </form>
              </div>

            </div>
  
          </div>
        </div>
        </div>
        </div>